# fly.toml app configuration file generated for collaborative-editor-api on 2026-01-12T21:49:18-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'collaborative-editor-api'
primary_region = 'ewr'

[build]
  dockerfile = 'Dockerfile.backend'

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
